.project-element {
    position: relative;
    width: 450px;
    height: 280px;
    /*background-image: url("https://i.ibb.co/y8tJPVD/Captur.png");*/
    background-position: center;
    background-size: cover;
}

.project-element, .overlay {
    border-radius: 5px;
}

.project-element h3 {
    display: inline-block;
    border-bottom: 2px solid rgb(255, 94, 31);
    font-weight: bolder;
    color: rgb(255, 94, 31);
}

.project-element h3:hover {
    cursor: pointer;
    color: rgb(255, 94, 31);
    border-color: rgb(255, 94, 31);
    transition-duration: 0.2s;
}

.project-element-description {
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
}

.project-element button {
    position: absolute;
    text-align: center;
    font-size: 18px;
    width: 35%;
    left: 32.5%;
    padding: 10px 20px;
    bottom: 30px;
    background: rgba(50,50,50,0.5);
    border: 2px solid rgb(255, 94, 31);
    color: rgb(255, 94, 31);
}

.project-element button:hover {
    background-color: rgb(255, 94, 31);
    color: white;
    transition-duration: 0.8s;
}


.overlay {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s, background 0.5s;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay p {
    display: block;
}

.overlay:hover {
    opacity: 1;
    background: rgba(1,1,1,0.69);
}

.overlay:hover .block-picture-container {
    width: 500px;
}


@media(max-width: 800px) {
    .project-line {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    .project-line > .project-element:first-child {
        margin-right: 0;
    }

    .project-line > .project-element:nth-child(2) {
        margin-left: 0;
    }

    .project-element {
        display: inline-block;
        width: 450px;
        margin: 0 auto 20px auto;
    }

}

@media(max-width: 500px) {
    .project-element {
        width: 100%;
        height: 250px;
    }
    .project-element button {
        width: 45%;
        left: 27.5%;
    }
}



