.pj-popup-container {
    position: relative;
    margin: auto;
    width: 750px;
    padding: 2.5vh 0;
    display: none;
}

.pj-popup {
    height: 95vh;
    width: 100%;
    margin: auto;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    padding: 5vh;
    overflow-y: scroll;
    display: inline-block;
}

.pj-popup-container .closeIcon {
    position: absolute;
    top: 6vh;
    width: 30px;
    height: 30px;
    right: -50px;
}

.pj-popup-container .closeIcon:hover {
    cursor: pointer;
    fill: rgb(255, 94, 31);
}

.pj-popup h1 {
    display: block;
    margin: 0 auto 30px auto;
    border: 1px solid black;
    text-align: center;
}

.pj-popup > img {
    width: 100%;
    display: block;
    margin: auto;
}

.pj-popup .demo {
    margin-top: 50px;
}

.pj-popup .description {
    margin-top: 50px;
}

.pj-popup::-webkit-scrollbar-thumb {
    background: gray;
}

@media (max-width: 800px) {
    .pj-popup-container {
        width: 90%;
        padding-top: 10vh;
    }
    .pj-popup-container .closeIcon {
        width: 20px;
        height: 20px;
        top: 105px;
        right: 15px;
    }
    .pj-popup {
        height: 90vh;
        padding: 2vh;
    }
    .pj-popup::-webkit-scrollbar {
        width: 5px;
    }
}


/*Basic stylings for project popups*/
.large {
    width: 100%;
    height: auto;
}

.medium {
    width: 80%;
    height: auto;
}

.small {
    width: 50%;
    height: auto;
}

.image-form {
    width: 100%;
}

.image-form * {
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
}

.loading-container {
    text-align: center;
    display: none;
}

.result-container {
    width: 100%;
    display: none;
}

.result-container > * {
    margin: 5px 0;
}

.result-container table th, .result-container table td {
    text-align: center;
}

@media(max-width: 800px) {
    .result-container table {
        font-size: 12px;
    }
}


.pj-popup, .pj-popup a {
    font-size: 16px;
}

.pj-popup a {
    color: #cf133e;
}

.pj-popup a:hover {
    text-decoration: underline;
}



.error-container {
    text-align: center;
    color: red;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: beige;
    display: none;
}

.error-container p {
    margin: 0;
    padding: 0;
}


/*Server status*/
.server-container {
    margin: 20px 0;
    font-size: 18px;
}
.good {
    color: green;
}
.bad {
    color: red;
}